body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    display: block;
}

.h1 .h2 .h3 .h4 .h5 .h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}


/* header */

.header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}

.nav-bar {
    display: flex;
    align-items: center;
}

.logo-company {
    margin-left: 156px;
    margin-right: 76px;
    display: flex;
}

.logo-company-web {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: inline-block;
}

.logo-company-studio {
    color: #2E2F42;
}

.list-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}
.list-navbar a {
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-item {
    padding-bottom: 24px;
    padding-top: 24px;
}

.list-navbar-info {
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-navbar-info:hover {
    color: #404bbf;
}

.list-navbar-info:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.info-company {
    display: flex;
    gap: 40px;
}

.info-item {
    display: flex;
    gap: 40px;
}

.address-info {
    font-size: 16px;
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-info:hover {
    color: #404bbf;
}

.address-info:focus {
    color: #404bbf;
}


/* main */

.section-our-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-effective {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.text-effective {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
}

.button-order {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    padding: 16px 32px 16px 32px;
    min-width: 169px;
    border-radius: 4px;
    height: 56px;
    border: none;
    margin-left: 636px;
}

.button-order:hover {
    background-color: #404BBF;
}

.button-order:focus {
    background-color: #404BBF;
}

.text-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
}

.text-sections {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-info {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.p-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
}

.section-advanatges {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-advantages {
    display: flex;
    gap: 24px;
}

.list-advantages-info {
    width: calc((100% - 72px) / 4);
}

.list-ourteam {
    display: flex;
    gap: 24px;
}

.list-ourteam-items {
    padding-bottom: 32px;
    padding-top: 32px;
}

.section-ourportfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-advantages {
    padding-bottom: 120px;
    padding-top: 120px;
}
.list-ourportfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-ourportfolio-items {
    width: calc((100% - 48px) / 3);
}

.list-items-ourportfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
/* footer */

.footer-webstudio {
    background-color: #2E2F42;
    color: #f4f4fd;
    padding-top: 100px;
    padding-bottom: 100px;
}

.p-footer {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.logo-company-studio-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #f4f4fd;
}

.logo-company-web-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}